<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.zxd.zxdMobile.mapper.UserMapper">

    <!-- insert user -->
    <insert id = "insert" parameterType="com.zxd.zxdMobile.bean.User">
        INSERT INTO USERS(ID,NICKNAME,PHONE,EMAIL,PASSWORD) VALUES(#{id},#{nickname},#{phone},#{email},#{password});
    </insert>

    <!-- update user -->
    <update id="update" parameterType="com.zxd.zxdMobile.bean.User">
        UPDATE USERS SET NICKNAME=#{nickname} , PHONE=#{phone} , EMAIL = #{email}, PASSWORD = #{password} WHERE ID=#{id}
    </update>

    <!-- find user -->
    <select id="find" parameterType="int" resultType="com.zxd.zxdMobile.bean.User">
        SELECT ID,NICKNAME,PHONE,EMAIL,PASSWORD FROM USERS WHERE ID=#{0}
    </select>

    <!-- delete user -->
    <delete id="delete" parameterType="int">
        DELETE FROM USERS WHERE ID=#{0}
    </delete>
</mapper>